<div class="container">
  <aside class='about-user'>
    <h2><%= @user.username %></h2>
    <h4>Score : <%= @user.karma %></h4>
    <p class='user-since'>Joined the community <%= time_ago_in_words(@user.created_at) %> ago</p>
  </aside>

  <div class='activities'>
    <section class="activity">
      <% @activities.each do |activity| %>
        <p>
          <%= activity.trackable %>
          <%#= activity.owner.username %>
          <%#= render_activity activity %>
        </p>
      <% end %>
    </section>
  </div>
</div>
