<% if activity %>
  said <%= link_to activity.trackable, post_url(activity.trackable.id) %> <span class='activity-time-ago'>about <%= time_ago_in_words(activity.trackable.created_at) %> ago</span>
<% end %>
