<div class="posts-container">
  <h1 class='create-title'>Create a post</h1>
  <div class="semi-info">
    <p>FansChallenge is a place to discuss all things sports.</p>
    <p>Why did Luol Deng get traded? Would Jordan's Bulls beat LeBron's Heat?</p>
    <p class='semi-title'>Speak your mind and find out what other people think.</p>
  </div>
  <%= render 'form' %>

  <%= link_to 'Cancel', posts_path %>
</div>
