// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin group {
  content: "";
  display: table;
  clear: both;
}

//Imports

//Variables
$post-title: 18px;
$post-details: 10px;
// Index
.posts-container {
   width: 70%;
   margin: 0 auto;
   clear: both;
   padding-top: 2%;

   .twitter-share-button {

   }

  h3 {
    float: left;
    margin-top: 0;
  }

  .create-a-post {
    float: right;
  }

  .index-nav {
    // border-bottom: 3px solid black;
    margin-bottom: 30px;
    &:after {
        display: table;
        clear: both;
        content: "";
    }
  }
}


 .home-title {
  text-align: center;

  h1 {
    margin-bottom: 50px;
  }
 }

 .pagination {
  text-align: center;
  padding-top: 25px;
  margin-bottom: 25px;
 }

.post {
  border-bottom: 1px solid #ccc;
  position: relative;

  &:before {
    // content:'1';
    position: absolute;
    left: -40px;
    top: 30%;
    font-size: 24px;
  }

  &:after {
    @include group;
  }

  section {
    float: left;

      .comment-count {
        display: inline-block;
        margin-top: 0;
      }

      .post-title {
        font-size: $post-title;

        a {
          text-decoration: none;
          color: black;

          &:hover {
            color: white;
          }
        }
      }

      .post-details {
        font-size: $post-details;
      }
  }

  .score {
    font-size: 15px;
    font-weight: bold;
  }

  aside {
    float: right;
    text-align: right;

    .tweet {
        float: right;
      }
  }
}

// Show
.show-post {
  text-align: center;
  border-bottom: 3px solid black;

  h1 {
    display: inline-block;
    margin-top: 0;
  }

  a {
    // float: right;
  }

  .edit-post {
    float: right;
  }

  .post-description {
    margin-bottom: 20px;
    text-align: left;
    margin-top: 0;
  }
}

nav {
  ul {
    padding: 0;
    padding-bottom: 40px;
      &:after {
        display: table;
        clear: both;
        content: "";
      }

    .share, .author {
      list-style-type: none;
    }

    .share {
      float: right;
    }

    .author {
      float: left;
      font-style: italic;
    }
  }
}

#comment-form {
  padding-top: 25px;

  label {
    display: block;
  }

  button {
    display: block;
  }
}

.comments {
  padding-top: 25px;
  border-bottom: 3px solid black;
  padding-bottom: 40px;

  .comment {
    border-bottom: 1px solid #ccc;

    &:after {
      @include group;
    }

    section {
      float: left;
    }

    aside {
      float: right;

      .voting {
        text-align: right;
      }

      .score {
        font-size: 15px;
        font-weight: bold;
      }
    }

    .comment-user-info {
      font-size: 11px;

      i {
        font-size: 11px;
      }

    }

    .comment-content {
      font-size: 17px;
      font-weight: 500;
    }
  }
}

// New
$label-width: 20%;
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }

  .semi-info {

    p {
      text-align: center;
    }

    .semi-title {
      font-weight: bold;
      font-size: 15px;
    }
  }

.form-container {
  margin: 0 auto;

  form {
    padding-top: 40px;

    h6 {
      margin-left: $label-width;
      width: 90% - $label-width;
    }
  }

  // h6 {
  //   margin-left: 20%;
  // }

  .field {

    p {
      margin-left: $label-width;
      margin-top: 0px;
      font-size: 10px;
      font-style: italic;
      border: 1px;
      padding: 2px;
    }

    label {
      display: inline-block;
      vertical-align: top;
      width: $label-width;
    }
    textarea {
      width: 90% - $label-width;
      margin-bottom: 0px;
    }
  }
  .actions {

    input {
      float: right;
    }
  }
}
